@charset "utf-8";
/****************
 * @description : css reset
 * @author   :
 * @date     :
 ****************/
/*css reset*/
body, nav, dl, dt, dd, p, h1, h2, h3, h4, ul, ol, li, input, button, textarea, footer {
    margin: 0;
    padding: 0
}

body {
    font: 16px/1.5 'Microsoft Yahei', 'Simsun';
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: none;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

form {
    display: inline
}

dl, dt, dd, ul, ol, li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
    color: #1a1a1a
}

a:hover, a:active, a:focus {
    color: #1c5aa2;
    text-decoration: none;
}

a:active {
    color: #aaa;
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
    outline: none;
}

textarea {
    resize: none
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button
}

input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
    color: transparent
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.break {
    word-break: break-all;
    word-wrap: break-word
}

header, footer, article, section, nav, menu, hgroup {
    display: block;
    clear: all;
}

i, em {
    font-style: normal;
}

div {
    display: block;
}

.bg-orange {
    background-color: #FF4E2C;
}

.color-666 {
    color: #666;
}

.bg-f0 {
    background-color: #f0f0f0;
    width: 100%;
    display: inline-block;
    z-index: 999;
}
.p-l-12{
  padding-left: 12px;
}
.brand{
    font-size: 12px;
    color: #666;
    margin: 0 auto;
    overflow-x: hidden;
}

.top-bar h1 {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.top-bar a.back {
    width: 30px;
    height: 30px;
    margin: 4px 5px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
}

.top-bar a.back i {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 11px;
    width: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.brand-info .brand-prompt  {
    height: 20px;
    font-size: 9px;
}
.brand-info .brand-prompt span {
    line-height: 20px;
}

.brand-letter {
    padding: 7px 12px 0 12px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.brand-letter ul li {
    float: left;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    width: 28px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 7px;
}

.brand-letter li a {
    display: block;
}

.all-brand {
    height: 31px;
    line-height: 31px;
    font-size: 12px;
}
.color-orange{
   color:  #FF4E2C;
}
.lh19{
    line-height: 19px;
}
.hot-brand .car{
    padding: 5px 0 5px 12px;
    overflow: hidden;
}
.hot-brand .car li{
    height: 25px;
    line-height: 25px;
    width: 100px;
    text-align: left;
   float: left;
    color: #333;
    font-size: 14px;
}
.hot-brand .brand-con{
    padding: 5px 0 5px 12px;
    overflow: hidden;
}
.con{
    padding: 5px 0 5px 12px;
    overflow: hidden;
}
.con li{
    height: 25px;
    line-height: 25px;
    width: 100px;
    text-align: left;
    float: left;
    color: #333;
    font-size: 14px;
}
.brand-con{
    z-index: -9999;
}

.brand-con .bg span{
    background-color: #ff0;
    width: 1000px;
}