@charset "UTF-8";
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
基本颜色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
辅助灰色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
辅助红色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
辅助橙色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
footer颜色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体family全局参数
---------------------------------- -------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体大小全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
行高全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
font-weight全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
font-style全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
margin全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
尺寸全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
按钮尺寸全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
浮动
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
html {
  _background: url(about:blank);
  color: #f0eff5;
  width: 100%;
  outline: 0;
  font-size: 62.5%;
  font-family: microsoft yahei, simsun;
  -webkit-text-size-adjust: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
网站背景颜色设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  background-color: #f0eff5;
  -webkit-text-size-adjust: none;
  min-width: 320px;
  font: 14px/1.5;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
}
a {
  color: #333333;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #ff5d42;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
多行文本框
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
textarea {
  overflow: auto;
  vertical-align: top;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
让一下元素鼠标悬停的时候鼠标变手型
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
所有表单元素outline样式
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
input,
select,
textarea,
button {
  outline: none;
  border: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
所有图片以及表单按钮都没有边框
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
img {
  border: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
浮动
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.l {
  float: left;
}
.r {
  float: right;
}
.f {
  float: both;
}
#jbs-mobile-header .top_bar {
  position: relative;
  text-align: center;
  font-size: 13px;
  height: 44px;
  line-height: 44px;
  width: 100%;
  overflow: hidden;
  zoom: 1;
  background-color: #ff5d42;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
#jbs-mobile-header .top_myCar {
  float: left;
  width: 20%;
  text-align: left;
  padding-left: 10px;
  overflow: hidden;
}
#jbs-mobile-header .top_myCar .car_icon {
  width: 23px;
  height: 17px;
  display: inline-block;
  background: url("http://localhost:63342/grunt/src/webapp/css/images/home_icon_car@3x.png") center center no-repeat;
  background-size: cover;
  vertical-align: middle;
}
#jbs-mobile-header .top-jbs-title {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
}
#jbs-mobile-header .top_bl {
  float: right;
  width: 20%;
  text-align: right;
}
#jbs-mobile-header .top_bl .login {
  margin-right: 10px;
  display: block;
  overflow: hidden;
  color: #ffffff;
}
.jbs-footer {
  color: #333;
  margin: 10px;
}
/*# sourceMappingURL=global.css.map */